In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = "{:.2f}".format
%reload_ext nb_black

In [7]:
data_r = pd.read_csv(r'Wine\winequality_red.csv')
data_w = pd.read_csv(r'Wine\winequality_white.csv')

In [14]:
data_r.columns == data_w.columns # Check if red wines and white wines have same columns [features]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [15]:
# We can join our data

In [16]:
data_r['color'] = 'Red'
data_w['color'] = 'White'

In [20]:
wines = pd.concat([data_r,data_w],axis=0)
wines.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
381,13.70,0.41,0.68,2.90,0.09,17.00,43.00,1.00,3.06,0.80,10.00,6,Red
4719,6.70,0.15,0.32,7.90,0.03,17.00,81.00,1.00,3.29,0.31,10.00,6,White
402,12.20,0.48,0.54,2.60,0.09,19.00,64.00,1.00,3.10,0.61,10.50,6,Red
4587,8.00,0.33,0.35,10.00,0.04,22.00,108.00,0.99,3.12,0.36,11.60,6,White
1245,8.00,0.66,0.72,17.55,0.04,62.00,233.00,1.00,2.92,0.68,9.40,4,White

In [25]:
wines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
fixed acidity           6497 non-null float64
volatile acidity        6497 non-null float64
citric acid             6497 non-null float64
residual sugar          6497 non-null float64
chlorides               6497 non-null float64
free sulfur dioxide     6497 non-null float64
total sulfur dioxide    6497 non-null float64
density                 6497 non-null float64
pH                      6497 non-null float64
sulphates               6497 non-null float64
alcohol                 6497 non-null float64
quality                 6497 non-null int64
color                   6497 non-null object
dtypes: float64(11), int64(1), object(1)
memory usage: 710.6+ KB

In [26]:
# We can see that we don't have any nulls in our data. And now shape of data is 6497 items.

In [27]:
wines = pd.get_dummies(wines, columns=["color"])

In [29]:
wines = wines.rename(columns={'color_Red':'Red','color_White':'White'})

In [32]:
wines.sample(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Red,White
4039,6.10,1.10,0.16,4.40,0.03,8.00,109.00,0.99,3.35,0.47,12.40,4,0,1
321,9.30,0.61,0.26,3.40,0.09,25.00,87.00,1.00,3.24,0.62,9.70,5,1,0
1493,7.70,0.54,0.26,1.90,0.09,23.00,147.00,1.00,3.26,0.59,9.70,5,1,0

In [33]:
wines.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Red,White
count,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00,6497.00
mean,7.22,0.34,0.32,5.44,0.06,30.53,115.74,0.99,3.22,0.53,10.49,5.82,0.25,0.75
std,1.30,0.16,0.15,4.76,0.04,17.75,56.52,0.00,0.16,0.15,1.19,0.87,0.43,0.43
min,3.80,0.08,0.00,0.60,0.01,1.00,6.00,0.99,2.72,0.22,8.00,3.00,0.00,0.00
25%,6.40,0.23,0.25,1.80,0.04,17.00,77.00,0.99,3.11,0.43,9.50,5.00,0.00,1.00
50%,7.00,0.29,0.31,3.00,0.05,29.00,118.00,0.99,3.21,0.51,10.30,6.00,0.00,1.00
75%,7.70,0.40,0.39,8.10,0.07,41.00,156.00,1.00,3.32,0.60,11.30,6.00,0.00,1.00
max,15.90,1.58,1.66,65.80,0.61,289.00,440.00,1.04,4.01,2.00,14.90,9.00,1.00,1.00